.checkstyle
.classpath
.externalToolBuilders
.pmd
.project
.settings
.umlproject
bin
maven-eclipse.xml
target
*.log
*.csv
*.iml
.idea
isodata-app/src/test/resources/*
!isodata-app/src/test/resources/*.json
